<div class="row">
    <%- include('../errors/messages.ejs') %>
    <div class="col-md-12 justify-content-center">
        <form method="POST" action="add-product-magalu">
            <div class="form-group input-group">
                <input class="form-control" name="url" placeholder="URL do produto">
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="amount" placeholder="Quantidade de juro">
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="interest" placeholder="Valor do juro">
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="from" placeholder="Valor de">
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="to" placeholder="Valor por">
            </div>
            <div class="form-group input-group">
                <button class="btn btn-primary">
                    Adicionar produto
                </button>
            </div>
        </form>
    </div>
</div>