<div class="row">
    <%- include('../errors/messages.ejs') %>
    <div class="col-md-12 justify-content-center bg-dark py-4 rounded">
        <div class="col-md-12 justify-content-center text-uppercase mx-auto text-center bg-primary text-light rounded-lg py-4 mb-4">
            Lista de produtos magalu
        </div>
        <div class="col-md-12 justify-content-center text-uppercase mx-auto text-center px-4">
            <form method="POST" action="add-product-magalu">
                <div class="form-group input-group">
                    <input class="form-control" name="url" placeholder="URL do produto">
                </div>
                <div class="form-group input-group">
                    <input class="form-control" name="amount" placeholder="Quantidade de juro">
                </div>
                <div class="form-group input-group">
                    <input class="form-control" name="interest" placeholder="Valor do juro">
                </div>
                <div class="form-group input-group">
                    <input class="form-control" name="from" placeholder="Valor de">
                </div>
                <div class="form-group input-group">
                    <input class="form-control" name="to" placeholder="Valor por">
                </div>
                <div class="form-group input-group justify-content-center text-center mx-auto">
                    <button class="btn btn-primary">
                        Adicionar produto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>