<div class="row justify-content-center">
    <div class="col-md-6 mx-auto mt-5 justify-content-center text-center">
        <%- include('../errors/messages.ejs') %>
        <form action="/change-user" method="POST">
            <div class="input-group form-group">
                <input class="form-control" type="text" name="username" value="<%= data.username %>" placeholder="Usuário">
            </div>
            <div class="input-group form-group">
                <select name="access" class="form-control">
                    <% var access = ['Usuário', 'Vendedor', 'Administrador']; %>
                    <% for (let i = 0; i < 3; i++) { %>
                        <option value="<%= i + 1%>"><%= access[i] %></option>
                    <% } %>
                </select>
            </div>
            <div class="input-group form-group">
                <input class="form-control" type="datetime-local" name="allow" placeholder="Data de expiração">
            </div>
            <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
            <input type="hidden" name="action" value="validate_captcha">
            <div class="input-group justify-content-center form-group">
                <button class="btn btn-primary">
                    Alterar
                </button>
            </div>
        </form>
    </div>
</div>