<div class="row">
    <%- include('../errors/messages.ejs') %>
    <div class="col-md-12 justify-content-center bg-dark py-4 rounded">
        <div class="col-md-12 justify-content-center text-uppercase mx-auto text-center bg-primary text-light rounded-lg py-4 mb-4">
            Lista de produtos magalu
        </div>
        <div class="row justify-content-center mx-auto ">
            <% for (let i = 0; data.length > i; i++) { %>
                <div class="col-md-12 my-1 justify-content-center mx-auto text-center">
                    <a class="btn btn-primary w-75" href="/magalu/<%= data[i].page %>">
                        <%= data[i].title %>
                    </a>
                    <a class="btn btn-danger" href="/delete-product-magalu/<%= data[i].id %>">
                        Deletar
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>