<div class="row justify-content-center">
    <div class="col-md-6 mx-auto mt-5 justify-content-center text-center">
        <div class="col-md-12">
            <div class="text-uppercase text-light head-name" style="font-size: 22pt;">PAINEL EXPLOIT</p>
            <img style="filter: invert(100);" class="w-25 mb-5" src="https://i.pinimg.com/originals/9b/24/58/9b245888fd3ef7d80d496e07831b1e7f.png">
        </div>
        <%- include('../errors/messages.ejs') %>
        <form action="/login" method="POST">
            <div class="input-group form-group">
                <input class="form-control" type="text" name="username" placeholder="Usuário">
            </div>
            <div class="input-group form-group">
                <input class="form-control" type="password" name="password" placeholder="Senha">
            </div>
            <div class="input-group justify-content-center form-group">
                <button class="btn btn-primary">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>