<% const messages = getMessages() %>
<% if (messages.notify) { %>
    <div class="col-md-12">
        <% for (let i = 0; i < messages.notify.length; i++ ) { %>
            <div class="alert alert-<%= messages.notify[i].message.type === 'error' ? 'danger' : 'success' %>">
                <%= messages.notify[i].message %>
            </div>
        <% } %>
    </div>
<% } %>